@page
@model Group_Project.Pages.SupportModel
@{
}

<style>
    .homepagebg {
        background: url(./Images/membership_background_p1.jpg);
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .center-custom {
        display: flex;
        height: 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="text-center">
    <div class="homepagebg">
        <div class="center-custom">
            <img src="./Images/membership_background_p2.png" alt="..." style="height: 400px">
        </div>
    </div>
</div>


<div class="container">
    <br>
    <h1 class="text-center">Frequently asked questions</h1>
    <br />
    <h2 style="font-size: 16px; text-decoration:underline;font-weight:bold; ">I forgot my password?</h2>
    <p>we will send you a link to your email so you can reset your password.</p>
    <h3 style="font-size: 16px; text-decoration:underline; font-weight:bold;">Why am i having connection isuues?</h3>
    <p>if you are having connection isuues try to switch your phone on and off or try to switch your router on and off.</p>
    <h4 style="font-size: 16px; text-decoration:underline;font-weight:bold; ">What is the difference between free and Premium?</h4>
    <h5 style="font-size: 16px; text-decoration:underline; ">Free</h5>
    <p>on free you will be able to skip music 3 times and you can only listen to music when you have internet and there will be adverts.</p>
    <h6 style="font-size: 16px; text-decoration:underline; ">Premium</h6>
    <p>when you on premium you can listen to unlimted songs and there will no adverts interruption and unlimted skips and you can listen to music offline.</p>
    <h7 style="font-size: 16px; text-decoration:underline; font-weight:bold; ">How do i cancel my subscription?</h7>
    <p>login into your account and there should be a tab that says cancel.</p>
    <h8 style="font-size: 16px; text-decoration:underline;font-weight:bold; ">How do i cancel my Account?</h8>
    <p>login and select account and there should be a tab that says i want to close my account.</p>
    <h9 style="font-size: 16px; text-decoration:underline;font-weight:bold; ">Why can`t i log in to Listical?</h9>
    <p>check that your internet connection is working and try to restart your device and make sure you haven`t made a error when typing your password and email address.</p>
</div>