@page
@model Group_Project.Pages.SupportModel
@{
}

<style>
    .homepagebg {
        background: url(./Images/membership_background_p1.jpg);
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .center-custom {
        display: flex;
        height: 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="text-center">
    <div class="homepagebg">
        <div class="center-custom">
            <img src="./Images/membership_background_p2.png" alt="..." style="height: 400px">
        </div>
    </div>
</div>
