@page
@model Group_Project.Pages.Admins.AdminPages.AdminIndexModel
@{
}
<h1>:: Admin Main Page ::</h1>
<br />
<h2> Welcome @Model.AdminUserName</h2>

<br />
<div class="row">
    
    <div class="col-sm-2">
        <p><a asp-page="/Admins/AdminPages/AdminView">View all Admins and Users</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/Admins/AdminPages/AdminDelete">Delete an Admin</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/LogoutPage/Logout">Logout</a></p>
    </div>

</div>
